body{
    background-image: url("./images/SKY.avif");
    background-repeat: no-repeat;
    background-size: cover;
    
}
a{
    text-decoration: none;
    color:white;
    font-size: 22px;
}
a:hover{
    color: black;
}
.title_1{
    display: flex;
    justify-content: space-between;
    padding: 0 15px;
    font-size: 50px;
}

.title_2 a{
    padding: 15px;
}
p {
    text-align: center;
    margin-top: 255px;
    font-size: 85px;
    color: black;
}
.Galaxy1{
    font-size: 50px;
}

